<header >
    <nav>
        <a href="/">Biblioteste</a>
        <ul>
            <li><a href="/autores">Autores</a></li>
            <li><a href="/autores/novo">Novo autor</a></li>
        </ul>
    </nav>
</header>